<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center> <!---
        <h1>simple if condition</h1>
        {% if a > 2 %}
            <h2>{{a}}</h2>
         {% endif %}
         <h3>
             After if
         </h3>  
         <h1> if else condition</h1> 
         {% if a > b %}
            <h2> a is greater than b </h2>
         {% else %} 
            <h2> b is greater than a</h2> 
          {%endif %}  
          <h1> If Elif condition</h1>
            {% if a > b and b > c %} 
                <h2> a is greater than b,c </h2>
            {% elif b > c %} 
                <h2> b is greater than a,c</h2>
             {% else %} 
                <h2> c is greater than a,b</h2> 
              {% endif %}  --->
            <h1> Nested if condition</h1>   
                {% if a > b %} 
                    {% if a > c %} 
                        <h2> a is greater</h2> 
                    {% else %} 
                        <h2> c is greater</h2>
                    {% endif %} 
                {% else %} 
                    {% if b > c %}
                        <h2> b is greater </h2>
                    {% else %} 
                        <h2> c is greater</h2>   
                     {% endif %}  
                {%endif %}                       
    </center>
</body>
</html>